#line{
    height:250px
}
#bar{
    height:250px
}
#pie{
    height:250px
}
#halfdonut{
    height:250px
}
#horizontalbar{
    height:250px;
    width: 1000px;
    
}
#area{
    height:250px;
    width:1000px
}